/* only for demos */

body {
  padding-top: 20px;
}

div.test-container {
  display: none;
}

button.test-toggle {
  margin-top: 5px;
}

pre.prettyprint {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.demo.collapse .demo-loading {
  display: block;
}
.demo.collapse.ready .demo-loading {
  display: none;
}

.demo.collapse .demo-wrapper {
  display: none;
}
.demo.collapse.ready .demo-wrapper {
  display: block;
}