/* only for demos */

body {
  padding-top: 20px;
}

.test-container {
  display: none;
}

h3,h5 {
  text-decoration: underline;
}

.test-toggle {
  margin-top: 5px;
}

#app pre, #app .demo div[data-html] {
  padding: 15px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.demo {
  margin: 10px;
  margin-bottom: 50px;
}

.alert {
  margin: 10px;
}
.alert strong {
  font-style: italic;
}